@import 'variables';

@mixin paraStyles($color, $size) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: $size;
    color: $color;
    text-align: justify;
}

div#container {
    width: $width;
    height: $height;
    p {
        @include paraStyles(blue, 10px)
    }
}